body{
    background-color: lightskyblue;
    font-family: sans-serif;
}

input{
    width: 75%;
    background-color: white;
    color: black;
    font-family: sans-serif;
    font-size: medium;
}

form{
    background-color: lightgreen;
    border-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}