<html>
    <head>
        <title>Midterm App</title>
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <div>
            <form>
                <center><h2>Login Page</h2></center>
                <label>Username: </label><br>
                <input type="text" name="username"><br>
                <label>Password: </label><br>
                <input type="password" name="password"><br>
                <center><button type="button">Login</button></center>
                <center><a href="/register"><button type="button">Register</button></a></center>
            </form>
        </div>
    </body>
</html>